* {
  font-family: "Work Sans", sans-serif;
}

header {
  text-align: left;
  padding-bottom: 40px;
  padding-right: 40px;
  display: inline-block;
  /* float: right; */
}

header div {
  text-align: left;
  float: left;
  display: block;
  font-size: 13px;
  padding-left: 100px;
}

#header-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
  margin: 0 auto;
  align-content: center;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10 auto;
}

#error {
  grid-column-start: 1;
  grid-column-end: 3;
}

#t2t {
  grid-column-start: 1;
  grid-column-end: 2;
}

#commentTitle{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#instructions{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1; 
  grid-row-end: 2;
}

.text-blurb {
  display: inline-block;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  max-width: 690px;
  min-height: 100px;
  font-size: 13px;
}

.text-blurb span {
  font-size: 18px;
}

li {
  position: relative;
}

li:hover {
  background-color: #b0c4de;
}

/* may want to adjust the position here... also how to hide the default tooltip? */

li:hover:after {
  content: attr(title);
  background: #fff;
  padding: 5px 12px;
  border: solid 1px #ddd;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

}

body {
  padding: 10px;
}

.tooltip {
  position: absolute;
  text-align: center;
  min-width: 50px;
  min-height: 28px;
  padding: 5px;
  background: white;
  stroke: gray;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12px;
}

.infotip {
  position: absolute;
  text-align: center;
  min-width: 50px;
  min-height: 28px;
  padding: 8px;
  background: rgb(224, 224, 224);
  pointer-events: none;
  border-radius: 12px;
}

.question {
  background: lightblue;
}

#codeUsed {
  text-align: center;
  font-size: 18px;
}
/* code version highlights */

/* factory colors in blues */
.g010312, .k010313  {
  background-color: #8dd3c7;
}
.c2205001, .c2206001{
  background-color: #80b1d3;
}
/* "wrong" versions in shades of red */
.g000207 {
  background-color: #fb8072;
}
.g010311 {
  background-color: #fccde5;
}
.c2206M08, .c2205M11 {
  background-color: #fdb462;
}
/* memfault versions in green shades... */
.k910411 {
  background-color: #d9f0a3;
}
.k910412 {
  background-color: #addd8e;
}
.k910413 {
  background-color: #78c679;
}
.k910414 {
  background-color: #41ab5d;
}


